<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head :: commonhead('売上管理')}" ></head>
<body id="admin-sales">
<div th:replace="~{'fragments/header' :: header}"></div>
<div th:replace="~{'fragments/hamburger-menu' :: hamburgerMenu}"></div>
<div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
    <div th:replace="~{'fragments/sidebar' :: sidebar}"></div>
</div>
<div th:if="${#authorization.expression('hasAnyAuthority(''ROLE_USER'', ''OIDC_USER'')')}">
    <div th:replace="~{'fragments/sidebar-user' :: sidebar-user}"></div>
</div>
<div id="wrap">
    <div class="container">
        <h1 class="icon">売上管理</h1>
        <div class="graph-section">
            <h2 class="icon2">注文別売上グラフ</h2>
            <img th:src="${graphUrl}" alt="売上データが存在しません、注文を入れてください">
        </div>
        <div class="graph-section">
            <h2 class="icon2">日次売上グラフ</h2>
            <img th:src="${dailyGraphUrl}" alt="売上データが存在しません、注文を入れてください">
        </div>
    </div>
</div>
<div th:replace="~{'fragments/footer' :: footer}"></div>
</body>
</html>