<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head :: commonhead('注文確定')}" ></head>
<body id="order-comp">
<div th:replace="~{'fragments/header' :: header}"></div>
<div th:replace="~{'fragments/hamburger-menu' :: hamburgerMenu}"></div>
<div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
    <div th:replace="~{'fragments/sidebar' :: sidebar}"></div>
</div>
<div th:if="${#authorization.expression('hasAnyAuthority(''ROLE_USER'', ''OIDC_USER'')')}">
    <div th:replace="~{'fragments/sidebar-user' :: sidebar-user}"></div>
</div>
<div id="wrap">
    <div class="container">
        <h1 class="icon">注文が確定しました</h1>
        <div class="comp-message">
            ご購入ありがとうございました。<br>
            引き続きショッピングをお楽しみ頂く場合は下記の「商品一覧に戻る」からお進みください。
        </div>
        <div class="back-link">
            <a th:href="@{/catalog/list}">商品一覧に戻る</a>
        </div>
    </div>
</div>
<div th:replace="~{'fragments/footer' :: footer}"></div>
</body>
</html>