<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head :: commonhead('商品一覧')}"></head>
<body id="product-list">
<div th:replace="~{'fragments/header' :: header}"></div>
<div th:replace="~{'fragments/hamburger-menu' :: hamburgerMenu}"></div>
<div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
    <div th:replace="~{'fragments/sidebar' :: sidebar}"></div>
</div>
<div th:if="${#authorization.expression('hasAnyAuthority(''ROLE_USER'', ''OIDC_USER'')')}">
    <div th:replace="~{'fragments/sidebar-user' :: sidebar-user}"></div>
</div>
<div id="wrap">
    <div class="container">
        <h1 class="icon">商品一覧</h1>
        <table class="horizontal-tbl">
            <tr>
                <th>商品名</th>
                <th>価格</th>
                <th>在庫数</th>
                <th>商品画像</th>
            </tr>
            <tr th:each="prod:${productList}">
                <td><a th:href="@{/catalog/product-details(productId=${prod.id})}"><span
                        th:text="${prod.name}"></span></a></td>
                <td><span th:text="${prod.price}"></span>円</td>
                <td><span th:text="${prod.stock}"></span></td>
                <td><img th:src="${prod.imgUrl}" alt="商品画像"></td>
            </tr>
        </table>
    </div>
</div>
<div th:replace="~{'fragments/footer' :: footer}"></div>
</body>
</html>